/*main wrapper*/

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--navy-blue);
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 156px;
}

/*header*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: lightgray; */
}
.logo {
  font-weight: 700;
  font-size: 18px;
  margin: 24px 0;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-right: 76px;
}
.logo span {
  color: var(--iris);
}
.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.nav-link:hover {
  color: var(--ocean);
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -21px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);

  opacity: 0;
  transform: scaleX(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-list,
.header-contacts-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header-contacts-unit {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.header-contacts-unit:hover,
.header-contacts-unit:active {
  color: var(--ocean);
  cursor: pointer;
}

/* hero section */

.hero {
  position: relative;
}
.hero-image-wrapper {
  position: relative;
  display: inline-block;
}
.hero-image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--grey);
  pointer-events: none;
}
.hero-content {
  padding: 188px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 48px;

  z-index: 2;
  text-align: center;
  color: var(--white);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  /* width: 169px;
  height: 56px; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}
.hero-button:hover {
  background-color: var(--ocean);
}
.hero-image {
  display: block;
}

/* advantages */

.advantages-title {
  display: none;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 120px auto;
}
.advantages-item {
}
.advant-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: var(--cloud);
}
.advant-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 8px auto;
}
.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Our team */

.our-team {
  background: var(--cloud);
}
.our-team-content {
  margin: 120px auto;
}
.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
.our-team-list {
}
.our-team-list-item {
}
.team-card-img {
}
.team-content {
}
.team-conten-title {
}
.team-content-text {
}
.team-social-list {
}
.team-social-item {
}
